@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans Thai", serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --border: #CECCD5;
    --sidebar-background: none 0% 100%;
    --sidebar-foreground: 254 15% 39%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 249 100% 87%;
    --sidebar-accent-foreground: 260 84% 51%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.lucide {
  color: white;
  width: 20px;
  height: 20px;
  stroke-width: 2px;
}