@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans Thai", serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --border: #CECCD5;
  }
}

.lucide {
  color: white;
  width: 20px;
  height: 20px;
  stroke-width: 2px;
}